MenuScene > QPushButton{
    background-color: transparent;
    border-radius: 5px;
    border-style: outset;
    border-width: 5px;
    border-color: rgb(255, 158, 17);
    color:rgb(255, 158, 17);
    font-weight:bolder;
    font-family: Adobe 繁黑體 Std B;
    font-size: 20px;
}
MenuScene > QPushButton:hover{
    background-color: rgba(255, 160, 17, 0.199);
}

MenuScene #title{
    font-family: STCaiyun;
    font-size: 100px;
    color:red;

}

MenuScene{
   
}